__pycache__
static/media
static_collected/
src/app/settings_local.py
DJANGO_CACHE
CACHE
src/geckodriver.log
log/
env/
*.py[cod]
src/db.sqlite3
*.log
*.pid
src/celerybeat-schedule.db
src/django.db
src/django
src/celerybeat-schedule
.idea/
